.dialog-content {
  display: flex;
  gap: 1em;
}

.dialog-actions {
 justify-content: center;
}

.pallet-type_select {
  min-width: 200px;
}

@media (max-width: 700px) {
  .dialog-content {
    flex-direction: column;
  }

  .create-button {
    margin-bottom: 1em;
  }
}
