:root {
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: whitesmoke;
}

a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.grid-center {
  display: grid;
  place-items: center;
}
