.order_identifiers_section {
  display: flex;
  align-items: flex-end;
  gap: 1em;
  margin: 1em 0em;
}

.order_identifiers_section input {
  width: 12.6em;
}

.loading_cursor {
  cursor: progress;
}

.breakdown_input_section {
  margin-top: 2em;
}

#breakdown_input {
  width: 30rem;
  font-size: large;
}

#breakdown_pallets_btn {
  margin-top: 1em;
}

@media (max-width: 530px) {
  .order_identifiers_section {
    flex-direction: column;
  }

  #breakdown_input {
    width: 12.6em;
    font-size: medium;
  }
}
