.wrapper {
  display: grid;
  grid-auto-flow: column;
  width: fit-content;
  margin: 2em auto;
  gap: 5em;
}

.table {
  height: fit-content;
}

.empty-table-cell {
  height: 1em;
}

.pallet-cell {
  background-color: gainsboro;
}

.leftover-row:hover {
  cursor: grab;
  background-color: gainsboro;
}

.leftover-row:active {
  cursor: grabbing;
}

.copy-btn {
  height: fit-content;
}

@media (min-width: 775px) {
  .drag-and-drop_container {
    display: grid;
    grid-auto-flow: column;
    gap: inherit;
  }
}
