.breakdown-input_section {
  margin-top: 2em;
}

#breakdown-input {
  width: 30rem;
  font-size: large;
}

#breakdown-pallets_btn {
  margin-top: 1em;
}

@media (max-width: 530px) {
  #breakdown-input {
    width: auto;
    font-size: medium;
  }
}
